#footer {
    width: 100%;
    height: 100%;
    background-color: $mute;
    display: flex;
    border-top: 2px solid $citrus;
    margin-top: 1em;
    padding: 2em;
    box-sizing: border-box;
    overflow: hidden;
    #footer-logo {
      position: absolute;
      margin: 10px;
      bottom: 0;
      right: 0;
      height: 100px;
      width: 100px;
      transform: rotate(-10deg);
      opacity: .5;
    }
    h4{
      margin: 0;
    }
    .fancy {
      font-size: 18px;
      margin: 0;
    }
    ul {
      list-style: none;
      color: white;
      margin: 0;
      padding: 0;
      li a {
        color: white;
        &:hover {
          color: $citrus;
        }
      }
    }
  }