#landing-header {
	display: table;
	width: 100%;
	background-color: darken($mute, 20%);
	background-blend-mode: multiply;
	background-size: cover;
	background-position: center top;
	height: 100vh;
	color: white;
  }

.landing-content {
	background-color: darken($mute, 10%);
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}