p {
  margin: 0;
  padding: 0;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  overflow: hidden;
}

section {

}

.container {
  margin: 1rem 1rem;
}

footer {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  margin-top: 5rem;
  display: block;
  overflow: hidden;
}

@media screen and (max-width: 576px){
  main {
    padding: 0 1rem;
    box-sizing: border-box;
  }
}