p {
  margin: 0;
  padding: 0;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  overflow: hidden;
}

section {

}

.container {
  margin: 1rem 1rem;
}

.table {
  border-collapse: collapse;
  width: 70%;
  margin: 1em 0;
  padding: 0;
  background-color: #ffffff;
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
  th {
    font-size: 19px;
    background-color: $king;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
  }
  th, td{
  border: 1px solid #cccccc;
  padding: 1em;
  margin: 0 auto;
  box-sizing: border-box;
  }
}

.highlight {
  background-color: #fafafa;
  border: 1px solid #cccccc;
  padding: 1em;
  margin: 0 0 2em;
  box-sizing: border-box;
  width: 51.2vw;
  overflow-x: auto;
  pre {
    word-wrap: normal;
  }
  .mk {
    color: $king;
  }
  .mk-2 {
    color: $desert;
  }
  .mk-p {
    color: $cobra;
  }
}

blockquote {
  max-width: 80%;
}

.blockquotes{
  display:block;
  background: #fff;
  padding: 15px 45px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  font-family: 'Raleway', Arial, sans-serif;
  border-left: 15px solid $desert;
  border-right: 2px solid $desert;
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
  max-width: 60%;
}

.blockquotes::before{
  content: "\201C";
  font-size: 5em;
  font-weight: bold;
  color: #999;
  position: absolute;
  left: 10px;
  top:5px;
}

.blockquotes::after{
  content: "\201D";
  font-size: 5em;
  font-weight: bold;
  color: #999;
  position: absolute;
  right: 10px;
  top:5px;
}

.blockquotes-footer:before {
  content: "-"
}

.blockquotes a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: $desert;
}

.blockquotes a:hover{
 color: #666;
}

.blockquotes em{
  font-style: italic;
}

.blockquotes.text-center {
  text-align: center;
}

.blockquotes.text-right {
  text-align: right;
}

.top {
  font-size: 70px;
  position: fixed;
  bottom: 0;
  right: 5%;
}

.primary {
  height: 100px;
  width: 100px;
  background-color: $king;
}

.secondary {
  height: 100px;
  width: 100px;
  background-color: $cobra;
}

.tertiary {
  height: 100px;
  width: 100px;
  background-color: $desert;
}



footer {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  margin-top: 5rem;
  display: block;
  overflow: hidden;
}

@media screen and (max-width: 576px){
  main {
    padding: 0 1rem;
    box-sizing: border-box;
  }
}