.section{
    overflow: scroll;
}

.category-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.category-card {
    width: 50%; 
    overflow: hidden;
    background: white;
    .cover {
        object-fit: cover;
        img {
            height: 100%;
        }
    }  
}

@media only screen and (max-width: 800px){
    .category-container{
        flex-direction: column;
    }
    .category-card{
        width: 100%;
    }
}