.top-hat-container{
  height: 40px;
  width: 100%;
  background: $king;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  .top-hat-cta{
    color: white;
    margin: 0;
    padding: 0;
  }
  .top-hat-social{

  }
  .top-hat-user{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    li {
      height: 40px;
      padding: 0 1rem;
      border-left: 1px solid white;
      border-right: 1px solid white;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    a{
      color: white;
      text-decoration: none;
    }
  }
}

header {
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  padding: 0.5rem 1rem;
  background: $cobra;
}

header nav {
  flex: 1 1 70%;
  -webkit-flex: 1 1 70%;
}

.branding a:link,
.branding a:active,
.branding a:hover,
.branding a:visited {
  background: url("../img/lmc-logo.svg") no-repeat 0 0/contain transparent;
  display: block;
  overflow: hidden;
  width: 300px;
  height: 65px;
  text-indent: -99999px;
}

.navbar-toggler {
  display: none;
}

#navigation {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  display: none;
}

#navigation ul ul {
  position: absolute;
  width: 100%;
  left: 100%;
  margin-top: -2.55rem;
}

#navigation ul li.dropdown-menu.open a,
#navigation ul ul {
    background-color: #1f4170;
    color: #ffffff !important;
}

#navigation li a:link,
#navigation li a:active,
#navigation li a:hover,
#navigation li a:visited {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #000000;
  display: block;
  overflow: hidden;
}

#navigation li.open a:link,
#navigation li.open a:active,
#navigation li.open a:hover,
#navigation li.open a:visited {
  color: #e2752a;
}

#navigation .dropdown-menu > a:after {
  content: "\f055";
  padding-left: 1rem;
  font-family: FontAwesome;
}

#navigation .dropdown-menu.open > a:after {
  content: "\f056";
}

@media screen and (max-width: 992px){
  header nav {
      flex: 0 0 auto;
      -webkit-flex: 0 0 auto;
      position: relative;
  }

  .navbar-toggler {
    display: block;
    background-color: #dadada;
    color: #000000;
    border: 0 none;
    font-size: 2em;
    padding: 0.5rem 1rem;
  }

  #navigation {
    display: none;
    position: absolute;
    right: 0;
    background-color: #dadada;
    flex-flow: column wrap;
    -webkit-flex-flow: column wrap;
    width: 300px;
  }

  #navigation ul,
  #navigation ul ul {
    position: relative;
    left: auto;
    margin: 0;
  }

  #navigation .dropdown-menu > a:after {
    position: absolute;
    right: 1rem;
  }
}