<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Montserrat:400,400i,600,600i');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
=======

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url("https://use.typekit.net/qva0fri.css");


p {
    margin-bottom: 1.3em;
}

.h1, .h2, .h3, .h4 {
    font-weight: 300;
}

.h1 {
    font-size: 4em;
  }
  
  .h2 {
      font-size: 3em;
  }
  
  .h3 {
      font-size: 2em;
  }
  
  .h4 {
      font-size: 1.25em;
  }

  .script {
      font-family: 'Kaushan Script';
  }

  .ampersand {
    font-style: italic;
    font-weight: 400; }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    color: #32434F; 
}
  
  h1 {
    font-size: 50px;
    line-height: 50px;
    font-weight: 300;
    margin: 5px 0 15px 0; 
}
  
  h1 + h2 {
    margin-top: 30px; }
  
  h2 {
    font-size: 30px;
    line-height: 45px;
    font-weight: 300;
    margin: 45px 0 0 0; }

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 300;
    margin: 30px 0 0 0; }
>>>>>>> 4016f491bc7436fcd8782706212077b78db0d114
